In [1]:
import getpass
import pandas as pd

In [70]:
credentials = pd.read_csv('data_user.csv',index_col='username', sep='|')

In [60]:
test = pd.read_csv('test.csv', sep='|',index_col='username')

In [61]:
test

         password
username
Anthony    123asd
Mulya      asd123

In [82]:
credentials.index

Index(['Anthony', 'Mulya', 'Deni'], dtype='object', name='username')

In [84]:
'Deni' in credentials.index

True

In [102]:
credentials.loc['Deni'].password = 'csv'

In [103]:
credentials

         password
username
Anthony    123asd
Mulya      asd123
Deni          csv

In [29]:
df = pd.DataFrame([['asd123']], columns = ['password'],index=['Mulya'])

In [69]:
df.index == 'Mulya'

array([ True])

In [54]:
joined_df = credentials.append(df)
joined_df.index.name = 'username'

In [104]:
from getpass import getpass
password = getpass('Password : ')

Password : ········